.total{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: animi1 10s ease 0s infinite;
}
@keyframes animi1{
    0%{background-color: rgb(196, 232, 244);}
    20%{background-color: rgb(242, 212, 212);}
    40%{background-color: lightcyan;}
    60%{background-color: lightgoldenrodyellow;}
    80%{background-color: lightgray;}
    100%{background-color: lightskyblue;}

}

.main{
    background-color: whitesmoke;
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
    box-shadow: 0px 0px 8px 3px rgb(169, 169, 169);
    border-radius: 5px;
    border:2px inset gold;
}
.main button{
    background-color:#A1EEBD;
    border: 2px outset gold;
    border-radius: 10px;
    height:1.8rem;
}
.main button:hover{
    box-shadow: 0px 0px 5px 2px silver;
}
.main button:active{
    box-shadow: 0px 0px 5px 2px  #A1EEBD;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}
div{
    padding:5px;
    text-align: center;
    text-align: center;
}

#a1:focus{
    font-weight: bold;
    box-shadow: 0px 0px 5px 3px silver;
}

#a2:focus{
    font-weight: bold;
    box-shadow: 0px 0px 5px 3px silver;
}

input:focus{
    box-shadow: 0px 0px 5px 3px silver;
    border:none;
}
button{
    cursor: pointer;
}
#a3{
    height:50px;
    text-align: center;
}
input{
    width:90%;
}
#a5{
    width:105%;
}